@charset "ISO-8859-1";

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: linear-gradient(#141e30, #243b55);
	height:100vh;
}

.container {
	height:100%;
}
.card {
	width: 600px;
	height: 600px;
	box-shadow: 3px 3px 3px black, 0px 0px 0px 10px white;
	background-image: url("#{resource['images/ocean.jpeg']}");
}


.bateau {
	background-color: white;
	box-shadow: 0px 0px 0px 1px red;
}

#porte-avion {
	width: 300px;
	background-image: url("#{resource['images/icon-porte-avion.png']}");
	background-repeat: no-repeat;
	background-size: cover;
}

#croiseur {
	width: 240px;
	background-image: url("#{resource['images/icon-croiseur.png']}");
	background-repeat: no-repeat;
	background-size: cover;
}

#torpilleur {
	width: 180px;
	background-image: url("#{resource['images/icon-torpilleur.png']}");
	background-repeat: no-repeat;
	background-size: cover;
}

#sous-marin {
	width: 180px;
	background-image: url("#{resource['images/icon-sous-marin.png']}");
	background-repeat: no-repeat;
	background-size: 100%;
}

#contre-torpilleur {
	width: 120px;
	background-image: url("#{resource['images/icon-contre-torpilleur.png']}");
	background-repeat: no-repeat;
	background-size: 100%;
}

.ui-panel-titlebar {
	display: none;
}

.ui-panel-content {
	height: 60px !important;
	border-radius: 0 !important;
	border: 0 !important;
	padding: 0 !important;
	background: none !important;
}

#droppable {
	z-index: -9999;
	width: 600px;
	height: 600px;
	position: fixed;
	opacity: 0;
}

.button-form {
	padding: 1rem;
}

.errormessages {
	padding: 10px 0;
	font-size: 12px;
	margin-bottom: 16px;
	box-sizing: border-box;
	outline: none;
	color: #F01905;
}













